@model Djohnnie.HomeAutomation.Web.ViewModels.LiveHeatingOverviewViewModel

<div class="info-box">
    <span class="info-box-icon bg-red">
        <a href="#heating"><i class="fas fa-thermometer-half"></i></a>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">Verwarming</span>
        <span class="info-box-number">22<small>°C</small></span>
        <span class="info-box-more">min 16<small>°C</small> - max 22<small>°C</small></span>
    </div>
</div>