@model Djohnnie.HomeAutomation.Web.ViewModels.LivePowerUsageViewModel

<div class="info-box">
    <span class="info-box-icon bg-green"><i class="fas fa-plug"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Elektriciteitsverbruik</span>
        <span class="info-box-number">@Model?.CurrentPower<small>W</small></span>
    </div>
</div>