@model Djohnnie.HomeAutomation.Web.ViewModels.LivePlugsOverviewViewModel

<div class="info-box">
    <span class="info-box-icon bg-blue">
        <a href="#plugs"><i class="fas fa-power-off"></i></a>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">Stopcontacten</span>
        <span class="info-box-number">2<small>/3</small></span>
        <span class="info-box-more">145<small>W</small> totaal</span>
    </div>
</div>