@model Djohnnie.HomeAutomation.Web.ViewModels.LivePowerUsageViewModel

<div class="info-box">
    <span class="info-box-icon bg-green">
        <a href="#power"><i class="fas fa-plug"></i></a>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">Elektriciteitsverbruik</span>
        <span class="info-box-number">@String.Format("{0:F0}", Model?.CurrentPower)<small>W</small></span>
        <span class="info-box-more">@String.Format("{0:F3}", Model?.Consumption)<small>kWh</small> vandaag</span>
    </div>
</div>