<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Home Automation version 1.0.0.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year DJOHNNIE</strong> All rights reserved.
</footer>